<div class="simplebox grid740">

  <div class="titleh">
    <h3><%= t("bugs.bugs") %></h3>
    <div class="shortcuts-icons">
      <a class="shortcut tips" href="<%= bugs_path %>" title="<%= t("view_all") %>"><img src="/assets/icons/shortcut/copy.png" width="25" height="25" alt="icon" /></a>
      <% if can? :create, Bug %>
          <a class="shortcut tips" href="<%= new_bug_path %>" title="<%= t("bugs.add_new") %>"><img src="/assets/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
      <% end %>
    </div>
  </div>

  <table cellpadding="0" cellspacing="0" border="0" class="tablesorter" id="example">
    <% if !@bugs.empty? %>

        <thead>
        <tr>
          <th><%= t("id") %></th>
          <th><%= t("bugs.brief") %></th>
          <th><%= t("bugs.priority") %></th>
          <th><%= t("bugs.state") %></th>
          <th><%= t("bugs.responsible")%></th>
          <th><%= t("bugs.reported_at") %></th>
          <th><%= t("actions") %></th>
        </tr>
        </thead>

        <tbody>

        <% @bugs.each do |bug| %>

            <tr class="gradeA">
              <td><%= bug.id %></td>
              <td style="width: 220px;"><%= link_to bug.brief, bug if can? :show, bug %></td>
              <% if bug.normal? %>
                  <td><strong class="hg-yellow"><%= bug.ticket_priority.name unless bug.ticket_priority.nil?%></strong></td>
              <% elsif bug.urgent? %>
                  <td><strong class="hg-red"><%= bug.ticket_priority.name unless bug.ticket_priority.nil?%></strong></td>
              <%elsif bug.nice_to_have? %>
                  <td><strong class="hg-green"><%= bug.ticket_priority.name unless bug.ticket_priority.nil?%></strong></td>
              <%end%>
              <td><%= bug.bug_state.name unless bug.bug_state.nil?%></td>
              <td><%= bug.responsible.first_name unless bug.responsible.nil?%></td>
              <td><%= bug.created_at.strftime("%d/%m/%y") %></td>
              <td><%= link_to t("show"), bug if can? :show, bug %>
                <%= link_to t("edit"), edit_bug_path(bug) if can? :update, bug %>
                <%= link_to t("destroy"), bug, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, bug %></td>

            </tr>

        <% end %>
    <% else %>
        <thead>
        <tr></tr>
        </thead>

        <tr class="gradeA">
          <td align="center"><%= t("nothing_to_show") %></td>
        </tr>

        <tbody>

    <% end %>

    </tbody>
  </table>

</div>