<div class="simplebox grid740">

  <div class="titleh">
    <h3><%= t("features.features") %></h3>

    <div class="shortcuts-icons">
      <a class="shortcut tips" href="#" title="<%= t("view_all") %>"><img src="/assets/icons/shortcut/copy.png" width="25" height="25" alt="icon" /></a>
      <a class="shortcut tips" href="#" title="<%= t("dashboard.new_feature") %>"><img src="/assets/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
    </div>

  </div>





  <table cellpadding="0" cellspacing="0" border="0" class="tablesorter" id="example3">

    <% if !@features.nil? %>

        <thead>
        <tr>
          <th><%= t("id") %></th>
          <th><%= t("bugs.brief") %></th>
          <th><%= t("bugs.priority") %></th>
          <th><%= t("bugs.state") %></th>
          <th><%= t("bugs.responsible") %></th>
          <th><%= t("actions") %></th>
        </tr>
        </thead>


        <tbody>

        <% @features.each do %>

            <tr class="gradeA">
              <td>3</td>
              <td style="width: 220px;">LALALALAA</td>
                  <td><strong class="hg-green">LALALA</strong></td>
              <td>LELELE</td>
              <td>LILILI</td>
              <td>Link
               </td>

            </tr>
        <% end %>

    <% else %>
        <thead>
        <tr></tr>
        </thead>

        <tr class="gradeA">
          <td align="center"><%= t("nothing_to_show") %></td>
        </tr>

        <tbody>


    <% end %>
    </tbody>

  </table>





</div>