<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("dashboard.dashboard") %></h2>	<p>Docnet</p></div>

    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->


<!-- START CONTENT -->
<div class="content">

  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
    </ul>
  </div>



  <!-- STATS -->

  <!-- end charts -->

  <!-- request list -->
      <div class="grid740" style="z-index: 600;">

        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/group.png" width="55" height="32" alt="icon">	<b><%= t("users.users")%></b></a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/applications.png" width="25" height="32" alt="icon">	<b><%= t("projects.projects")%></b></a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/documents.png" width="25" height="32" alt="icon">	<b><%= t("features.features")%></b></a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/help.png" width="32" height="32" alt="icon">	<b><%=t("bugs.bugs") %></b></a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/info.png" width="32" height="32" alt="icon">	<b><%= t("requests.requests")%></b>	</a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/calendar.png" width="35" height="32" alt="icon">	<b><%= t("events.calendar")%></b>	<%= t("events.timeline")%></a>
        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/calendar.png" width="35" height="32" alt="icon">	<b><%= t("events.calendar")%></b>	<%= t("events.events")%></a>


        <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/megaphone.png" width="33" height="32" alt="icon">	<b><%=t("notifications")%></b></a>

            <a href="#" class="dashbutton">	<img src="/assets/icons/dashbutton/timer.png" width="32" height="32" alt="icon">	<b><%=t("dashboard.hours_worked") %></b></a>
        <div class="clear" style="z-index: 580;"></div>
      </div>
      <!-- END FEATURES TABLE -->

      <%= render :partial => 'stats' %>

  <%= render :partial => 'features_table' %>

  <!-- end stats -->

</div>

