<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t("mailers.cancelled_appointment_title")%></title>

  <!-- Reset -->
  <link rel="stylesheet" type="text/css" href="/assets/reset.css" />
  <!-- Main Style File -->
  <link rel="stylesheet" type="text/css" href="/assets/root.css" />
  <!-- Grid Styles -->
  <link rel="stylesheet" type="text/css" href="/assets/grid.css" />
  <!-- Typography Elements -->
  <link rel="stylesheet" type="text/css" href="/assets/typography.css" />
  <!-- Jquery UI -->
  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui.css" />
  <!-- Jquery Plugin Css Files Base -->
  <link rel="stylesheet" type="text/css" href="/assets/jquery-plugin-base.css" />

  <!--[if IE 7]>	  <link rel="stylesheet" type="text/css" href="/assets/ie7-style.css" />	<![endif]-->

  <!-- jquery base -->
  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/jquery-ui-1.8.11.custom.min.js"></script>
  <!-- jquery plugins settings -->
  <script type="text/javascript" src="/assets/jquery-settings.js"></script>
  <!-- toggle -->
  <script type="text/javascript" src="/assets/toogle.js"></script>
  <!-- tipsy -->
  <script type="text/javascript" src="/assets/jquery.tipsy.js"></script>
  <!-- uniform -->
  <script type="text/javascript" src="/assets/jquery.uniform.min.js"></script>
  <!-- Jwysiwyg editor -->
  <script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
  <!-- table shorter -->
  <script type="text/javascript" src="/assets/jquery.tablesorter.min.js"></script>
  <!-- Jquery.UI Base -->
  <script type="text/javascript" src="/assets/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/assets/jquery.ui.mouse.js"></script>
  <script type="text/javascript" src="/assets/jquery.ui.widget.js"></script>
  <!-- Slider -->
  <script type="text/javascript" src="/assets/jquery.ui.slider.js"></script>
  <!-- Date Picker -->
  <script type="text/javascript" src="/assets/jquery.ui.datepicker.js"></script>
  <!-- Tabs -->
  <script type="text/javascript" src="/assets/jquery.ui.tabs.js"></script>
  <!-- Accordion -->
  <script type="text/javascript" src="/assets/jquery.ui.accordion.js"></script>
  <!-- Google Js Api / Chart and others -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <!-- Date Tables -->
  <script type="text/javascript" src="/assets/jquery.dataTables.js"></script>



</head>
<body>
<div style="text-align: left;margin: 0 auto;width: 69em;">


  <!-- START MAIN -->
  <div style="padding-bottom:20px; background:#fff url(../assets/main-bg.png) repeat-y;border-bottom:1px solid #D6D8D8;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;box-shadow:0px 1px 0px #DFDFDF;">


    <!-- START CONTENT -->
    <div style="padding:20px 24px;  line-height:17px;">

      <!-- Start Error Blue -->
      <div style="text-align:center;margin:10px 0;z-index: 680;">
        <a href="http://localhost:3000" target="blank"><%= image_tag "http://localhost:3000/assets/icons/error/error-red-big.png", :style => "border:none; margin-left:10px; margin-top:10px;"%></a>
        <h2 class="blue"><%= t("mailers.cancellation")%> <%= @user.full_name %></h2>
        <p><%= t("mailers.details_cancellation") + @appointment.datetime.strftime("%d/%m/%y %H:%M")%>  </p>
      </div>
      <!-- End Error Blue -->












    </div>
    <!-- END CONTENT -->







  </div>
  <!-- END PAGE -->











  <div class="clear"></div>
</div>
<!-- END MAIN -->










</div>
</body>
</html>
