<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @patient.user %>
</p>

<p>
  <b>Prepaid medicals:</b>
  <%= @patient.prepaid_medicals %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
