<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("hospitals") %></h2>	<p>Doc.net</p></div>
    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->

<!-- START CONTENT -->
<div class="content">
  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><b><%= link_to t("hospitals"), hospitals_path %></b></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->
  <!-- START TABLE -->
  <div class="simplebox grid740">
    <div class="titleh">
      <h3><%= t("hospitals") %></h3>
      <div class="shortcuts-icons">
        <a class="shortcut tips" href="<%= new_hospital_path %>" title="<%= t("hospital.add") %>"><img src="/assets/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="tablesorter" id="example">
      <% if !@hospitals.empty? %>
          <thead>
          <tr>
            <th><%= t("id") %></th>
            <th><%= t("name") %></th>
            <th><%= t("address") %></th>
            <th><%= t("actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% @hospitals.each do |hospital| %>
              <tr class="gradeA">
                <td><%= hospital.id %></td>
                <td><%= link_to hospital.name, hospital %></td>
                <% if(!@hospital.nil? && !@hospital.address.nil?) %>
                    <% address = @hospital.address.street + " " + @hospital.address.number + ", " + @hospital.address.city.name %>
                <% else %>
                    <% address = "" %>
                <% end %>
                <td><%= address %></td>
                <td><%= link_to t("edit"), edit_hospital_path(hospital) %>
                  <%= link_to t("destroy"), hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      <% else %>
          <thead>
          <tr></tr>
          </thead>
          <tr class="gradeA">
            <td align="center"><%= t("nothing_to_show") %></td>
          </tr>
          <tbody>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- END TABLE -->

</div>