<%= semantic_nested_form_for @user, :url => url_for(:controller => 'doctors', :action => 'create') do |f| %>

    <% if @user.errors.any? %>
        <div class="albox errorbox" style="z-index: 670;">
          <b><%= t("errors") %> :</b>
          <% @user.errors.messages.each do |msg| %>
              <li><%= msg[1][0] %></li>
          <% end %>
          <a href="#" class="close tips" original-title="close"><%= t("close") %></a>
        </div>
    <% end %>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("name") %></span>
      <%= f.text_field :full_name, :class => "st-forminput"%>
    </div>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("users.email") %></span>
      <%= f.text_field :email, :class => "st-forminput"%>
    </div>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("password") %></span>
      <%= f.password_field :password, :class => "st-forminput"%>
    </div>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("birthdate") %></span>
      <%= f.text_field :birthdate,{ :class => "datepicker-input" }%>
    </div>

    <%=f.inputs :for => [:doctor, f.object.doctor] do |h|%>

        <div class="st-form-line">
          <span class="st-labeltext"><%= t("doctor.hour_from") %></span>
          <%= h.text_field :hour_from, :class => "st-forminput", :placeholder => "e. 10:00"%>
        </div>

        <div class="st-form-line">
          <span class="st-labeltext"><%= t("doctor.hour_to") %></span>
          <%= h.text_field :hour_to, :class => "st-forminput", :placeholder => "e. 20:00"%>
        </div>

        <div class="st-form-line">
          <span class="st-labeltext"><%= t("doctor.shift_duration") %></span>
          <%= h.text_field :shift_duration, :class => "st-forminput", :placeholder => "e. 00:10"%>
        </div>

        <div class="st-form-line">
          <span class="st-labeltext"><%= t("hospitals")%></span>
          <div>
            <% for hospital in Hospital.all %>
                <div class="checker">
                  <%= check_box_tag "user[doctor_attributes][hospital_ids][]", hospital.id, h.object.hospitals.include?(hospital), :class => "uniform", :id => "the_magick" %>
                </div>
                <%= hospital.name %>
            <% end %>
          </div>
        </div>


        <div class="st-form-line">
          <span class="st-labeltext"><%= t("medical_specifications")%></span>
          <div>
            <% for medical_specification in MedicalSpecification.all %>
                <div class="checker">
                  <%= check_box_tag "user[doctor_attributes][medical_specification_ids][]", medical_specification.id, h.object.medical_specifications.include?(medical_specification), :class => "uniform", :id => "the_magick" %>
                </div>
                <%= medical_specification.name %>
            <% end %>
          </div>
        </div>

        <div class="st-form-line">
          <span class="st-labeltext"><%= t("prepaid_medicals")%></span>
          <div>
            <% for prepaid_medical in PrepaidMedical.all %>
                <div class="checker">
                  <%= check_box_tag "user[doctor_attributes][prepaid_medical_ids][]", prepaid_medical.id, h.object.prepaid_medicals.include?(prepaid_medical), :class => "uniform", :id => "the_magick" %>
                </div>
                <%= prepaid_medical.name %>
            <% end %>
          </div>
        </div>
    <% end %>



    <div class="button-box">

      <%= link_to t("cancel"), doctors_path, :class => "st-clear" %>
      <%= f.submit t("save"), :class => "st-button"%>
    </div>
<% end %>
