<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("doctor.edit") %></h2>	<p>Doc.net</p></div>

    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->







<!-- START CONTENT -->
<div class="content">


  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><%= link_to t("doctors"), doctors_path %></li>
      <li><b><%= t("edit") %></b></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->


  <!-- START SIMPLE FORM -->
  <div class="simplebox grid740">
    <div class="titleh">
      <h3><%= t("doctor.edit") %></h3>
    </div>
    <div class="body">

      <%= semantic_nested_form_for @user, :url => url_for(:controller => 'doctors', :action => 'update') do |f| %>

          <% if @user.errors.any? %>
              <div class="albox errorbox" style="z-index: 670;">
                <b><%= t("errors") %> :</b>
                <% @user.errors.messages.each do |msg| %>
                    <li><%= msg[1][0] %></li>
                <% end %>
                <a href="#" class="close tips" original-title="close"><%= t("close") %></a>
              </div>
          <% end %>

          <div class="st-form-line">
            <span class="st-labeltext"><%= t("name") %></span>
            <%= f.text_field :full_name, :class => "st-forminput"%>
          </div>

          <div class="st-form-line">
            <span class="st-labeltext"><%= t("users.email") %></span>
            <%= f.text_field :email, :class => "st-forminput"%>
          </div>

          <div class="st-form-line">
            <span class="st-labeltext"><%= t("birthdate") %></span>
            <%= f.text_field :birthdate,{ :class => "datepicker-input" }%>
          </div>

          <%=f.inputs :for => [:doctor, f.object.doctor] do |h|%>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("doctor.hour_from") %></span>
                <%= h.text_field :hour_from, :class => "st-forminput"%>
              </div>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("doctor.hour_to") %></span>
                <%= h.text_field :hour_to, :class => "st-forminput"%>
              </div>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("doctor.shift_duration") %></span>
                <%= h.text_field :shift_duration, :class => "st-forminput"%>
              </div>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("hospitals")%></span>
                <div>
                  <% for hospital in Hospital.all %>
                      <div class="checker">
                        <%= check_box_tag "user[doctor_attributes][hospital_ids][]", hospital.id, h.object.hospitals.include?(hospital), :class => "uniform", :checked => h.object.hospitals.include?(hospital), :id => "the_magick" %>
                      </div>
                      <%= hospital.name %>
                  <% end %>
                </div>
              </div>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("medical_specifications")%></span>
                <div>
                  <% for medical_specification in MedicalSpecification.all %>
                      <div class="checker">
                        <%= check_box_tag "user[doctor_attributes][medical_specification_ids][]", medical_specification.id, h.object.medical_specifications.include?(medical_specification), :class => "uniform", :checked => h.object.medical_specifications.include?(medical_specification), :id => "the_magick" %>
                      </div>
                      <%= medical_specification.name %>
                  <% end %>
                </div>
              </div>

              <div class="st-form-line">
                <span class="st-labeltext"><%= t("prepaid_medicals")%></span>
                <div>
                  <% for prepaid_medical in PrepaidMedical.all %>
                      <div class="checker">
                        <%= check_box_tag "user[doctor_attributes][prepaid_medical_ids][]", prepaid_medical.id, h.object.prepaid_medicals.include?(prepaid_medical), :class => "uniform", :checked => h.object.prepaid_medicals.include?(prepaid_medical), :id => "the_magick" %>
                      </div>
                      <%= prepaid_medical.name %>
                  <% end %>
                </div>
              </div>

          <% end %>

          <div class="button-box">

            <%= link_to t("cancel"), doctors_path, :class => "st-clear" %>
            <%= f.submit t("save"), :class => "st-button"%>
          </div>
      <% end %>

    </div>
  </div>
  <!-- END SIMPLE FORM -->

</div>

