<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("doctors") %>: <%= @doctor.user.full_name %></h2>	<p>Doc.net</p></div>

    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->







<!-- START CONTENT -->
<div class="content">

  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><%= link_to t("doctors"), doctors_path %></li>
      <li><b><%= @doctor.id %></b></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->



  <!-- START SIMPLE FORM -->
  <div class="simplebox grid740">

    <!-- start show codes -->
    <div class="simplebox grid740">
      <div class="titleh"><h3><%= t("doctor.details") %></h3>

        <div class="shortcuts-icons">
          <a class="shortcut tips" href="<%= edit_doctor_path(@doctor) %>" original-title="<%= t("doctor.edit") %>"><img src="/assets/icons/shortcut/file.png" width="25" height="25" alt="icon"></a>
        </div>
      </div>
      <div class="body">

        <ul class="statistics">
          <li><%= t("id") %>	<p>	<span class="blue"><b><%= @doctor.id unless @doctor.nil?%></b></span>	</p>	</li>
          <li><%= t("name") %>	<p>	<span class="blue"><b><%= @doctor.user.full_name unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("email") %>	<p>	<span class="blue"><b><%= @doctor.user.email unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("birthdate") %>	<p>	<span class="blue"><b><%= @doctor.user.birthdate.strftime("%d/%m/%y") unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.hour_from") %>	<p>	<span class="blue"><b><%= @doctor.hour_from.strftime("%H:%M") unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.hour_to") %>	<p>	<span class="blue"><b><%= @doctor.hour_to.strftime("%H:%M") unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.shift_duration") %>	<p>	<span class="blue"><b><%= @doctor.shift_duration.strftime("%H:%M") unless @doctor.user.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.medical_specifications") %>	<p>	<span class="blue"><b><%= @doctor.list_specifications unless @doctor.medical_specifications.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.hospitals") %>	<p>	<span class="blue"><b><%= @doctor.list_hospitals unless @doctor.hospitals.nil?%></b></span>	</p>	</li>
          <li><%= t("doctor.prepaid_medicals") %>	<p>	<span class="blue"><b><%= @doctor.list_prepaids unless @doctor.prepaid_medicals.nil?%></b></span>	</p>	</li>
        </ul>

      </div>

    </div>

    <!-- end show codes -->

  </div>
  <!-- END SIMPLE FORM -->



</div>

