<%= form_for(@country) do |f| %>
    <% if @country.errors.any? %>
        <div class="albox errorbox" style="z-index: 670;">
          <b><%= t("errors") %> :</b>
          <% @country.errors.messages.each do |msg| %>
              <li><%= msg[1][0] %></li>
          <% end %>
          <a href="#" class="close tips" original-title="close"><%= t("close") %></a>
        </div>
    <% end %>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("name") %></span>
      <%= f.text_field :name, :class => "st-forminput"%>    </div>

    <div class="button-box">

      <%= link_to t("cancel"), countries_path, :class => "st-clear" %>
      <%= f.submit t("save"), :class => "st-button"%>
    </div>
<% end %>