<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("medical_specification.medical_specification") %> <%= @medical_specification.name %></h2>	<p>Doc.net</p></div>
    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->

<!-- START CONTENT -->
<div class="content">
  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><%= link_to t("medical_specifications"), medical_specifications_path %></li>
      <li><b><%= @medical_specification.id %></b></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->
  <!-- START SIMPLE FORM -->
  <div class="simplebox grid740">
    <!-- start show codes -->
    <div class="simplebox grid740">
      <div class="titleh"><h3><%= t("medical_specification.details") %></h3>
        <div class="shortcuts-icons">
          <a class="shortcut tips" href="<%= edit_medical_specification_path(@medical_specification) %>" original-title="<%= t("medical_specification.edit") %>"><img src="/assets/icons/shortcut/file.png" width="25" height="25" alt="icon"></a>
        </div>
      </div>
      <div class="body">
        <ul class="statistics">
          <li><%= t("id") %>	<p>	<span class="blue"><b><%= @medical_specification.id unless @medical_specification.nil?%></b></span>	</p>	</li>
          <li><%= t("name") %>	<p>	<span class="blue"><b><%= @medical_specification.name unless @medical_specification.nil?%></b></span>	</p>	</li>
        </ul>
      </div>
    </div>
    <!-- end show codes -->
  </div>
  <!-- END SIMPLE FORM -->

</div>