<%= form_for @appointment, :url => appointments_new_appointment_doctor_search_path, :html => {:method => :get} do |f| %>

    <div class="modal-header">
      <h3 id="myModalLabel"><%= t("doctor.find_by") %>:</h3>
    </div>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("medical_specifications") %></span>
      <%= f.collection_select :patient_id, MedicalSpecification.all, :id, :name, { :prompt => t("all") }, { :class => 'uniform', :style => "opacity: 0;" } %>
    </div>

    <div class="st-form-line">
      <span class="st-labeltext"><%= t("hospitals") %></span>
      <%= f.collection_select :doctor_id, Hospital.all, :id, :name, { :prompt => t("all") }, { :class => 'uniform', :style => "opacity: 0;" } %>
    </div>

    <div class="st-form-line">
  <span class="st-labeltext"><%= t("prepaid_medicals") %></span>
        <%= f.collection_select :ranking, PrepaidMedical.all, :id, :name, { :prompt => t("all") }, { :class => 'uniform', :style => "opacity: 0;" } %>
    </div>

    </br>

    <div class="button-box" style="float:right;">
      <a href="#" class="st-clear" data-dismiss="modal" aria-hidden="true"><%= t("close") %></a>
      <a href="<%= appointments_new_appointment_doctor_search_path %>" class="st-clear"><%= t("clear") %></a>
      <%= f.submit t("filter"), :class => "st-button"%>
    </div>

<% end %>