<script type="text/javascript">
    /* Full Calendar */
    $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                right: 'month,agendaWeek,agendaDay'
            },

            timeFormat: {
                // for agendaWeek and agendaDay do not display time in title
                // time already displayed in the view
                agenda: '',

                // for all other views (19:00 - 20:30)
                '': 'H:mm{ - H:mm}'
            },

            columnFormat: {
                month: 'dddd',    // Monday
                week: 'dddd, MMM dS', // Monday, July 13th
                day: 'dddd, MMM dS'  // Monday, July 13th
            },

            axisFormat: 'H:mm',
            allDaySlot: false,
            minTime: '6',
            maxTime: '20',
            slotMinutes: 30,
            defaultEventMinutes: 22,
            editable: false,
            aspectRatio: 2,
            events: <%= @appointments %>,
            monthNames:[' <%= t("january") %>', '<%= t("february") %>', '<%= t("march") %>', '<%= t("april") %>', '<%= t("may") %>', '<%= t("june") %>', '<%= t("july") %>',
                '<%= t("august") %>', '<%= t("september") %>', '<%= t("october") %>', '<%= t("november") %>', '<%= t("december") %>'],
            dayNames:['<%= t("sunday") %>', '<%= t("monday") %>', '<%= t("tuesday") %>', '<%= t("wednesday") %>',
                '<%= t("thursday") %>', '<%= t("friday") %>', '<%= t("saturday") %>'],
            dayNamesShort:['<%= t("sun") %>', '<%= t("mon") %>', '<%= t("tue") %>', '<%= t("wed") %>', '<%= t("thu") %>', '<%= t("fri") %>', '<%= t("sat") %>'],
            monthNamesShort:['<%= t("jan") %>', '<%= t("feb") %>', '<%= t("mar") %>', '<%= t("apr") %>', '<%= t("may") %>', '<%= t("jun") %>', '<%= t("jul") %>',
                '<%= t("aug") %>', '<%= t("sep") %>', '<%= t("oct") %>', '<%= t("nov") %>', '<%= t("dec") %>'],
            buttonText: {
                prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
                next:     '&nbsp;&#9658;&nbsp;',  // right triangle
                prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                today:    '<%= t("today") %>',
                month:    '<%= t("month") %>',
                week:     '<%= t("week") %>',
                day:      '<%= t("day") %>'
            },

            dayClick: function(date, allDay, jsEvent, view) {
                if (view.name == "agendaDay") {
                    var date_display = document.getElementById("date_display");
                    var day = date.toLocaleDateString("es");
                    date_display.value = day;
                    var hour_display = document.getElementById("hour_display");
                    var hour = date.toLocaleTimeString("es").substr(0,5);
                    hour_display.value = hour;
                    var elem = document.getElementById("date");
                    elem.value = date;
                    document.getElementById('appoinment_new_patient').style.display = "block";
                } else {
                    $('#calendar').fullCalendar('gotoDate', date);
                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                }
            },
            eventClick: function(calEvent, jsEvent, view) {

                alert('Event: ' + calEvent.title);

                // change the border color just for fun
                $(this).css('border-color', 'red');

            }

        });

    });
</script>

<div style="display: none;">
  <%= form_for @appointment do |f| %>
    <%= f.hidden_field :doctor_id, :value => @appointment.doctor_id %>
    <%= f.hidden_field :patient_id, :value => @appointment.patient_id %>
    <%= f.hidden_field :datetime, :id => "date" %>
    <%= f.hidden_field :medical_specification_id, :id => "specification" %>
    <%= f.button :id => "button" %>
  <% end %>
</div>

<div id="appoinment_confirmation" class="modal-confirmation hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body" width="2000">
    <%= render :partial => "appointments/confirmation" %>
  </div>
</div>

<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">  <h2><%= t("events.timeline_calendar")%></h2> <p>Doc.net</p></div>

    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->


<!-- START CONTENT -->
<div class="content">

  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><%= t("events.calendar")%></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->

  <!-- START TABLE -->
  <div class="simplebox grid740">

    <div id="calendar"> </div>

  </div>
  <!-- END TABLE -->

</div>