<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("prepaid_medicals") %></h2>	<p>Doc.net</p></div>
    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->

<!-- START CONTENT -->
<div class="content">
  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
      <li><b><%= link_to t("prepaid_medicals"), prepaid_medicals_path %></b></li>
    </ul>
  </div>
  <!-- END NAVIGATION -->
  <!-- START TABLE -->
  <div class="simplebox grid740">
    <div class="titleh">
      <h3><%= t("prepaid_medicals") %></h3>
      <div class="shortcuts-icons">
        <a class="shortcut tips" href="<%= new_prepaid_medical_path %>" title="<%= t("prepaid_medical.add") %>"><img src="/assets/icons/shortcut/plus.png" width="25" height="25" alt="icon" /></a>
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="tablesorter" id="example">
      <% if !@prepaid_medicals.empty? %>
          <thead>
          <tr>
            <th><%= t("id") %></th>
            <th><%= t("name") %></th>
            <th><%= t("actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% @prepaid_medicals.each do |prepaid_medical| %>
              <tr class="gradeA">
                <td><%= prepaid_medical.id %></td>
                <td><%= link_to prepaid_medical.name, prepaid_medical %></td>
                <td><%= link_to t("edit"), edit_prepaid_medical_path(prepaid_medical) %>
                  <%= link_to t("destroy"), prepaid_medical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      <% else %>
          <thead>
          <tr></tr>
          </thead>
          <tr class="gradeA">
            <td align="center"><%= t("nothing_to_show") %></td>
          </tr>
          <tbody>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- END TABLE -->

</div>