  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Doc.net</title>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-ui-1.8.11.custom.min" %>
    <%= javascript_include_tag "jquery-settings" %>
    <%= javascript_include_tag "toogle" %>
    <%= javascript_include_tag "jquery.tipsy" %>
    <%= javascript_include_tag "jquery.uniform.min" %>
    <%= javascript_include_tag "jquery.wysiwyg" %>
    <%= javascript_include_tag "jquery.tablesorter.min" %>
    <%= javascript_include_tag "raphael" %>
    <%= javascript_include_tag "analytics" %>
    <%= javascript_include_tag "popup" %>
    <%= javascript_include_tag "fullcalendar.min" %>
    <%= javascript_include_tag "jquery.prettyPhoto.js" %>
    <%= javascript_include_tag "jquery.ui.core" %>
    <%= javascript_include_tag "jquery.ui.mouse" %>
    <%= javascript_include_tag "fullcalendar.min.js" %>
    <%= javascript_include_tag "jquery.ui.widget" %>
    <%= javascript_include_tag "jquery.ui.slider" %>
    <%= javascript_include_tag "jquery.ui.datepicker" %>
    <%= javascript_include_tag "jquery.ui.tabs" %>
    <%= javascript_include_tag "jquery.ui.accordion" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= javascript_include_tag "jquery.dataTables" %>
    <%= javascript_include_tag "bootstrap.min" %>

    <script type="text/javascript">
        $(document).ready(function() {

            $(function(){
                $("[id$='_picture']").uniform({
                    fileDefaultText:"<%= t("no_file")%>",
                fileBtnText:"<%= t("choose")%>"
                });
            });
        });


    </script>

    <%= csrf_meta_tags %>

  </head>
  <body id="body">



    <div class="wrapper">

      <!-- START HEADER -->
      <div id="header">

        <!-- logo -->
        <div class="logo">  <a href="<%= root_path %>"><img src="/assets/logo-small.png" width="112" height="40" alt="logo"/></a> </div>

        <!-- notifications -->

        <div id="notifications">

        </div>

        <!-- quick menu -->
        <div id="quickmenu">

          <% if current_user.user_role_id != UserRole.admin.id %>
              <% if current_user.user_role_id == UserRole.paciente.id %>

                  <a href="<%= appointments_new_appointment_doctor_search_path%>" role="button" class="qbutton-left tips" title="<%= t("new_appointment_index")%>"><img src="/assets/icons/button/clock2.png" width="14" height="14" alt="new post" /></a>
                  <a href="<%= appointments_patient_appointments_path%>" role="button" class="qbutton-right tips" title="<%= t("my_appointments")%>"><img src="/assets/icons/header/newpost.png" width="18" height="14" alt="new post" /></a>
        <% elsif current_user.user_role_id == UserRole.doctor.id %>
                <a href="<%= new_appointment_path%>" role="button" class="qbutton-left tips" title="<%= t("skip_shifts")%>"><img src="/assets/icons/button/clock2.png" width="14" height="14" alt="new post" /></a>
                  <a href="<%= appointments_doctor_appointments_path%>" role="button" class="qbutton-right tips" title="<%= t("my_appointments")%>"><img src="/assets/icons/header/newpost.png" width="18" height="14" alt="new post" /></a>

              <% end %>
          <% end %>

          <div class="clear"></div>
        </div>

        <!-- profile box -->
        <div id="profilebox">
          <a href="#" class="display">
            <img src="/assets/simple-profile-img.jpg" width="33" height="33" alt="profile"/>  <b><%= t("logged_as")%></b> <span><%= current_user.full_name %></span>
          </a>

          <div class="profilemenu">
            <ul>
                <% if current_user.user_role_id == UserRole.doctor.id %>
                <li><%= link_to t("edit_profile"), edit_doctor_path(Doctor.where("user_id = ?", current_user.id).first) %></li>
                <% elsif current_user.user_role_id == UserRole.paciente.id %>
                <li><%= link_to t("edit_profile"), edit_patient_path(Patient.where("user_id = ?", current_user.id).first)  %></li>
                <% end %>
                <li><%= link_to t("logout"), destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>

        </div>

        <div class="clear"></div>
      </div>
      <!-- END HEADER -->

      <!-- START MAIN -->
      <div id="main">

        <% unless flash[:notice].nil? %>
            <div class="albox succesbox" style="z-index: 690;">
              <%= flash[:notice]%>
              <a href="#" class="close tips" original-title="close"><%= t("close")%></a>
            </div>
        <% end %>

        <% unless flash[:error].nil? %>
            <div class="albox errorbox" style="z-index: 690;">
              <%= flash[:error]%>
              <a href="#" class="close tips" original-title="close"><%= t("close")%></a>
            </div>
        <% end %>        

        <!-- START SIDEBAR -->
        <div id="sidebar">

          <!-- start searchbox -->
          <div id="searchbox" align="center">

            <br>
            <b><%= t("language_change")%></b><br>

                <%= link_to image_tag('../assets/spanish-flag.png'), :locale=>'es'%> |
                <%= link_to image_tag('../assets/english-flag.png'), :locale=>'en'%>

          </div>
          <!-- end searchbox -->

          <!-- start sidemenu -->
          <div id="sidemenu">
            <ul>
              <% if current_user.user_role_id == UserRole.admin.id%>
              <li <%= "class=active" if @active_tab=="dashboard" %>><a href="<%= root_path %>"><img src="/assets/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/><%= t("dashboard.dashboard")%></a></li>
              <li <%= "class=active" if @active_tab=="patients" %>><a href="<%= patients_path %>"><img src="/assets/icons/sidemenu/user.png" width="16" height="16" alt="icon"/><%= t("patients")%></a></li>
              <li <%= "class=active" if @active_tab=="doctors" %>><a href="<%= doctors_path %>"><img src="/assets/icons/sidemenu/user_add.png" width="16" height="16" alt="icon"/><%= t("doctors")%></a></li>
              <li <%= "class=active" if @active_tab=="hospitals" %>><a href="<%= hospitals_path %>"><img src="/assets/icons/sidemenu/image.png" width="16" height="16" alt="icon"/><%= t("hospitals")%></a></li>
              <li <%= "class=active" if @active_tab=="prepaid_medicals" %>><a href="<%= prepaid_medicals_path %>"><img src="/assets/icons/sidemenu/heart.png" width="16" height="16" alt="icon"/><%= t("prepaid_medicals")%></a><span class="ballon">0</span></li>
              <li class="subtitle">
                <a class="action tips-right" href="#" original-title="<%= t("basic_details")%>"><img src="/assets/icons/sidemenu/info.png" width="16" height="16" alt="icon"><%= t("basic_details")%><img src="/assets/arrow-down.png" width="7" height="4" alt="arrow" class="arrow"></a>
                <ul class="submenu" style="<%= 'display: block;' if @active_tab == 'calendar'%>">
                  <li <%= "class=active" if @active_sub_tab=="country" %>><a href="<%= countries_path  %>"><%= t("countries")%></a></li>
                  <li <%= "class=active" if @active_sub_tab=="state" %>><a href="<%= states_path  %>"><%= t("states")%></a></li>
                  <li <%= "class=active" if @active_sub_tab=="city" %>><a href="<%= cities_path  %>"><%= t("cities")%></a></li>
                  <li <%= "class=active" if @active_sub_tab=="medical_specification" %>><a href="<%= medical_specifications_path  %>"><%= t("medical_specifications")%></a></li>
                </ul>
              </li>
                  <% elsif current_user.user_role_id == UserRole.paciente.id%>
                  <li <%= "class=active" if @active_tab=="dashboard" %>><a href="<%= root_path %>"><img src="/assets/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/><%= t("dashboard.dashboard")%></a></li>
                  <li <%= "class=active" if @active_tab=="patients" %>><a href="<%= patient_path(current_user.patient) %>"><img src="/assets/icons/sidemenu/user.png" width="16" height="16" alt="icon"/><%= t("profile")%></a></li>
                  <li <%= "class=active" if @active_tab=="appointments" %>><a href="<%= appointments_patient_appointments_path %>"><img src="/assets/icons/sidemenu/calendar.png" width="16" height="16" alt="icon"/><%= t("appointments")%></a></li>

                  <% else %>

                  <li <%= "class=active" if @active_tab=="dashboard" %>><a href="<%= root_path %>"><img src="/assets/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/><%= t("dashboard.dashboard")%></a></li>
                  <li <%= "class=active" if @active_tab=="patients" %>><a href="<%= doctor_path(current_user.doctor) %>"><img src="/assets/icons/sidemenu/user.png" width="16" height="16" alt="icon"/><%= t("profile")%></a></li>
                  <li <%= "class=active" if @active_tab=="appointments" %>><a href="<%= appointments_doctor_appointments_path %>"><img src="/assets/icons/sidemenu/calendar.png" width="16" height="16" alt="icon"/><%= t("appointments")%></a></li>


            <% end %>


              <!-- end submenu with icon -->
            </ul>
          </div>
          <!-- end sidemenu -->

        </div>
        <!-- END SIDEBAR -->

        <!-- START MAIN -->

        <!-- START PAGE -->
        <div id="page">

          <!-- start stats -->
          <div id="stats">
            <!-- use it up/down on <b> tag for different colors -->
            <div class="column">  <b class="up">40%</b>  <%= t("dashboard.project_completed")%></div>
            <div class="column">  <b>ACA VA ALGO</b> <%= t("dashboard.days_to_deliver")%> </div>
            <div class="column">  <b class="up">LLALALA</b><%= t("dashboard.hours_worked")%></div>
            <div class="column">  <b class="down">LELELE</b><%= t("dashboard.bugs_reported")%></div>
            <!-- this is last column -->
            <div class="column last"> <b>LILILI</b>  <%= t("dashboard.pending_requests")%></div>
            <a href="#" title="Close Stats" class="close tips"><%= t("close")%></a>
            <img src="/assets/icons/mini/stats-arrow-top.png" width="17" height="9" alt="arrow" class="arrow-external" />


          </div>
          <!-- end stats -->

          <%= yield %>

        </div>

        <div class="clear"></div>
      </div>
      <!-- END MAIN -->

      <!-- START FOOTER -->
      <div id="footer">
        <div class="left-column">Copyright 2012 - All rights reserved.</div>
        <div class="right-column">Docnet <a href="#" target="_blank">Stessens - Mateus</a></div>
      </div>
      <!-- END FOOTER -->

    </div>  

  </body>
</html>